<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!-- estilos generales -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cultura Paisas - preguntas</title>
</head>

<body>
    <header class="header-container">
        <div class="logo-container">
            <img class="img-logo" src="../assets/img/Cultura-de-Medellin-logo.png" alt="Cultura de Medellín">
        </div>
        <div class="title-container">
            <h1 class="title-page">Cultura Paisa</h1>
        </div>
    </header>
    <main class="container-principal">
        <div class="container-general">
            <div class="container-number">1.</div>
            <div class="container-questions">
                <div class="question"> ¿De dónde son los  Oompa Loompas?</div>
                <div class="cont-answer-1    ">
                    <div class="answer-index-1">A.</div>
                    <p class="answer-content-1">Oompalandia</p>
                </div>
                <div class="cont-answer-2 ">
                    <div class="answer-index-2">B.</div>
                    <p class="answer-content-2"> Metrallo </p>
                </div>
                <div class="buttons">
                    <a href="">Enviar</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="../assets/js/main.js" type="module"></script>
</body>

</html>
