<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <!-- estilos generales -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cultura Paisas - puntaje</title>
</head>

<body>
    <header class="header-container">
        <div class="logo-container">
            <img class="img-logo" src="../assets/img/Cultura-de-Medellin-logo.png" alt="Cultura de Medellín">
        </div>
        <div class="title-container">
            <h1 class="title-page">Cultura Paisa</h1>
        </div>
    </header>
    <main class="container-principal-puntaje">
        <div class="container-general-puntaje">
            <div class="title-puntaje">
                <h2 class="title-text">Resultado</h2>
            </div>
            <div class="contain-puntaje">
                <div class="img-content">
                    <i class="fa-regular fa-face-laugh-beam"></i>   
                </div>
                <span class="resultado-preguntas"><span class="ptj">12</span> /20</span>
                <p class="resultado-puntaje"><span class="puntos">60</span> puntos</p>
            </div>
            <div class="contain-complemento">
                <p class="complemento">Excelente!!</p>
            </div>
        </div>
    </main>
    <footer class="footer-puntaje">
        <div class="logo-container-footer">
            <img class="img-logo-footer" src="../assets/img/paisa.png" alt="Cultura de Medellín">
        </div>
        <div class="container-links-footer">
            <ul class="container-items-footer">
                <li class="link-item-footer"><a target="_blank" href="https://www.cultura10.org/paisa/"><i
                            class="fa-solid fa-person-circle-exclamation"></i> Sobre los paisas</a></li>
                <li class="link-item-footer"><a target="_blank"
                        href="https://www.facebook.com/Cultura-paisa-305328269973897"><i
                            class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li class="link-item-footer"><a target="_blank" href="https://www.instagram.com/cultura_paisa/"><i
                            class="fa-brands fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
    </footer>
    <script src="../assets/js/main.js" type="module"></script>
</body>

</html>