@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-main: #3c79;
    --verde-mot1: #3c7;
    --verde-btn-normal: #2a7;
    --verde-btn-active: #2f8;
    --verde-btn-active-opacity: #2f89;
    
    --verde-btn-especial1: #1c7;
    --verde-btn-especial2: #6c5;
    
    --blanco-main : #fff;
    --blanco_second:#fff9;

    --color-emoji: #ff0;
    --title-hover:#dcf3aa;

    --font-black-main: #5559;
    --font-black-normal: #555;

    --incorrecto: #f008;
    --border-incorrecto: #f004; 
    --correcto:#70ff8bcc;
}